spring.application.name=Library Management App
admin.email=admin@example.com
admin.password=password

# H2 Database Configuration for Development
spring.h2.console.enabled=true
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.url=jdbc:h2:mem:test_db
spring.datasource.username=sa
spring.datasource.password=password
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect

# JPA Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto=update

# Health check
management.endpoints.web.exposure.include=health,info
management.endpoint.health.show-details=always

# JWT your_base64_encoded_secret_key
jwt.secret=******************************

# 1 hour in milliseconds
jwt.tokenValidity=3600000

spring.mail.host=sandbox.smtp.mailtrap.io
spring.mail.port=587
spring.mail.username=************
spring.mail.password=************
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=false
spring.mail.properties.mail.smtp.starttls.required=false
spring.mail.properties.mail.smtp.connectiontimeout=5000
spring.mail.properties.mail.smtp.timeout=3000
spring.mail.properties.mail.smtp.writetimeout=5000
spring.mail.properties.mail.smtp.ssl.checkserveridentity=false
